# compiled output
/build

# compiler
/gcc-arm-none-eabi-6-2017-q2-update

# IDEs and editors
/.idea
.project
.mxproject
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# EAGLE schematic and PCB backup files
*.s#*
*.b#*

# Doxygen documentation generator
Doxyfile

# misc
.dep
tags
docs
datasheets
en.DM00105879.pdf
